/*

	COLORS

*/
$white 	: #ffffff;
$black 	: #000000;
$grey 	: #313A3F;
$green  : #A6CE39;
/*

	FONTS

*/
@font-face {
	font-family: ar;
	src: url( 'fonts/Anton/Anton-Regular.ttf' );
}
@font-face {
	font-family: lr;
	src: url( 'fonts/Lato/Lato-Regular.ttf' );
}
@font-face {
	font-family: lb;
	src: url( 'fonts/Lato/Lato-Bold.ttf' );
}