@import "_variables", "_mixins", "_reseting";
/*

	COOKIE BAR

*/
.cc-window {
	margin: 10px;
  width: auto;
	font-size: 14px;
	color: $black;
	background-color: $white;
  border: 1px solid;

  &.cc-banner {
  	width: auto;
  }

	.cc-compliance {
		a {
			border: 1px solid $black;
			color: $black;
			cursor: pointer;
			transition: background-color .4s;

			&:hover, &:focus {
				text-decoration: none;
				background-color: rgba( $black, .2 );
			}
		}
	}
}
/*

	FORMAT

*/
body {
	overflow: hidden;
	background-color: $black;
}
h2, h3 {
	font-family: ar, sans-serif;
}
p {
	font-family: lr, sans-serif;
}
/*

	SOCIAL NETWORKS

*/
.social-networks {
	justify-content: flex-end;
	background-color: $black;

	a {
		display: inline-block;
		padding: 3px 10px;
		font-size: 20px;
		color: $white;
	}
}
/*

	NAVBAR

*/
.menu-items {
	background-color: $white;
	flex-direction: column;
	background-color: $white;

	@include sm {
		position: absolute;
		right: -10px;
		bottom: 0;
		height: auto;
		background-color: transparent;

		li {
			margin-bottom: 4px;
			transition: transform ease .1s;

			&:nth-child(even) {
				transform: rotate(-2deg);
			}
			&:nth-child(odd) {
				transform: rotate(3deg);
			}
		  &:hover,
		  &:focus {
			  transform: rotate(0deg);
		  }
		}

		a {
			padding: 8px 30px 8px 10px;
			text-align: start;
			color: $black;
			background-color: $white;
		}
	}

	a {
		display: block;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
	}

}
/*

	PLAYER CONTROLS

*/
.menu {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	background-color: $black;

	@include sm {
		bottom: auto;
		padding: 0;
		background-color: transparent;
	}

	.controls a {
		display: inline-block;
		padding: 13px;
		margin: 0 5px;
		margin-bottom: 5px;
		border-radius: 2px;
		font-size: 7vw;
		background-color: $white;

		&:hover, &:focus {
			background-color: rgba( $white, .6 );
		}

		>svg {
			display: block;
			margin: auto;
			color: $black;
		}

		@include sm {
			width: 40px;
			margin-right: 6px;
			flex-basis: auto;
			flex-grow: 0;
			font-size: inherit;
		}
	}

	a[href="#play"] {
		display: none;
	}
	a[href="#pause"] {

	}
	a[href="#mute"] {
		display: none;
	}
	a[href="#unMute"] {

	}
	a[href="#menu"] {

		@include sm {
			display: none;
		}
	}

	.player-menu {
		>div {
			@include xs-only {
				position: absolute;
				bottom: 13px;
			}
		}
	}

	>div {
		padding: 0;
	}

	.brand {
		margin: auto;

		@include sm {
			width: 200px;
			margin-bottom: 10px;
		}

		a {
			width: auto;
			margin: 0;
			padding: 0;
		}
	}
}
/*

	VIDEO

*/
.player {

	iframe,
	.player-overlay {
		position: absolute;
		top: 20%;
		left: 0;
		width: 100%;

		@include sm {
			top: 0;
			height: 100%;
		}
	}

	iframe {
		z-index: -2;
	}

	.player-overlay {
		z-index: -1;
		background-color: #000;
		opacity: 0.1;
	}
}