@import "_variables", "_mixins", "_reseting";
/*

	COOKIE BAR

*/
.cc-window {
	color: $black;
	background-color: $white;

	.cc-compliance {
		a {
			border: 1px solid $black;
			color: $black;
			cursor: pointer;
			transition: background-color .4s;

			&:hover, &:focus {
				text-decoration: none;
				background-color: rgba( $black, .2 );
			}
		}
	}
}
/*

	FORMAT

*/
h2, h3 {
	font-family: ar, sans-serif;
}
p {
	font-family: lr, sans-serif;
}
/*

	VIDEO

*/
.player{

	iframe,
	.player-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	iframe {
		z-index: -2;
	}
	.player-overlay {
		z-index: -1;
		background-color: #000;
		opacity: 0.1;
	}

}