@import "_variables", "_mixins", "_reseting";
/*

	COOKIE BAR

*/
.cc-window {
	margin: 10px;
  width: auto;
	font-size: 14px;
	color: $black;
	background-color: $white;
  border: 1px solid;

  &.cc-banner {
  	width: auto;
  }

	.cc-compliance {
		a {
			border: 1px solid $black;
			color: $black;
			cursor: pointer;
			transition: background-color .4s;

			&:hover, &:focus {
				text-decoration: none;
				background-color: rgba( $black, .2 );
			}
		}
	}
}
/*

	FORMAT

*/
body {
	overflow: hidden;
	background-color: $black;
}
h2, h3 {
	font-family: ar, sans-serif;
}
p {
	font-family: lr, sans-serif;
}
.close-sub-menu {
	display: inline-block;
	position: absolute;
	top: 40px;
	right: 0;
	margin: 10px;
	padding: 10px;
	cursor: pointer;

	span {
		display: block;
    font-size: 70px;
    line-height: 0.4;
    color: $white;
	}
}
/*

	SOCIAL NETWORKS

*/
.social-networks {
	justify-content: flex-end;
	background-color: $black;

	a {
		display: inline-block;
		padding: 3px 10px;
		font-size: 20px;
		color: $white;
	}
}
/*

	NAVBAR

*/
.browser-menu-items {
	display: none;

	@include sm {
		display: block;
		top: auto;
		right: -10px;
		bottom: 0;
		height: auto;
		width: auto;
		overflow: visible;
		background-color: transparent;
		z-index: 1;

		>li {
			margin-bottom: 4px;
			transition: transform ease .1s;

			&:nth-child(even) {
				transform: rotate(-2deg);
			}
			&:nth-child(odd) {
				transform: rotate(3deg);
			}
		  &:hover,
		  &:focus {
			  transform: rotate(0deg);
		  }

		  >a {
				padding: 8px 30px 8px 10px;
				text-align: start;
				background-color: $white;
				cursor: pointer;
			}
		}
	}
}
.mobile-menu-items {
	display: none;
	padding-bottom: 60px;

	@include sm {
		display: block;
		padding-bottom: 0;
		background-color: rgba( $black, .9 );
		z-index: -3;

		>li>a {
			display: none;
		}
	}
}
.browser-menu-items,
.mobile-menu-items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow-x: auto;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: $white;

	>li>a {
		display: block;
		padding: 10px 20px;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		color: $black;
	}
}
/*

	BRAND

*/
.brand {
	margin: auto;
	color: $white;

	img {
		width: 50vw;

		@include sm {
			width: 200px;
			margin-bottom: 10px;
		}
	}

	a {
		width: auto;
		margin: 0;
		padding: 0;
	}
}
/*

	PLAYER CONTROLS

*/
.menu {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	margin: 0;
	background-color: $white;

	@include sm {
		bottom: auto;
		padding: 0;
		background-color: transparent;
	}

	.controls a {
		display: inline-block;
		width: 20%;
		padding: 13px;
		margin: 0 5px;
		border-radius: 2px;
		font-size: 7vw;

		&:hover, &:focus {
			background-color: rgba( $white, .6 );
		}

		>svg {
			color: $black;
		}

		@include sm {
			width: 40px;
			margin-right: 6px;
			flex-basis: auto;
			flex-grow: 0;
			font-size: inherit;
			line-height: 1;
			background-color: $white;
		}
	}

	a[href="#play"] {
		display: none;
	}
	a[href="#pause"] {

	}
	a[href="#mute"] {
		display: none;
	}
	a[href="#unMute"] {

	}
	a[href="#menu"] {
		@include sm {
			display: none;
		}
	}

	.player-menu {
		>div {
			@include xs-only {
				position: absolute;
				bottom: 13px;
			}
		}
	}
}
/*

	VIDEO

*/
.player {

	iframe,
	.player-overlay {
		position: absolute;
		top: 25%;
		left: 0;
		width: 100%;

		@include sm {
			top: 0;
			height: 100%;
		}
	}

	iframe {
		z-index: -2;
	}

	.player-overlay {
		z-index: -1;
		background-color: #000;
		opacity: 0.1;
	}
}
/*

	SUB-MENU

*/
.sub-menu {
	display: none;
	padding: 10px 20px;

	@include sm {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		align-content: center;

		ul {
	    justify-content: center;
	    flex-direction: column;
	    width: 500px;
	    margin: 0 auto;

	    * {
	    	color: $white;
	    }
		}
	}
}